

<form method="POST" action="/">
    <p>Name: <input name="name" type="text"/></p>
    <p>Breed: <input name="breed" type="text"/></p>
    <p>Age: <input name="age" type="text"/></p>
    <input name="submit" type="submit"/>
</form>
