<form method="POST" action="/display_puppy">
    <p><input name="name" type="text"/></p>
    <p><input name="breed" type="text"/></p>
    <p><input name="age" type="text"/></p>
    <p><input name="submit" type="Submit"/></p>
</form>
